<div class="blank">
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1>Homer - Responsive Admin Theme</h1>
            <p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    <!--[if lt IE 7]>
        <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="color-line"></div>

    <div class="back-link">
        <a routerLink="/index" class="btn btn-primary">Back to Home</a>
    </div>

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>Trainer Login</h3>

                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form #tlm="ngForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                <input type="email" placeholder="example@gmail.com" title="Please enter you username"
                                    name="Email" id="Email" ngModel class="form-control">

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******"
                                    required="" value="" name="Password" id="Password" ngModel class="form-control">

                            </div>

                            <div class="row">
                                <div class="col-lg-6  ">
                                    <button class="btn btn-success btn-block" (click)="signIn(tlm)" >Login</button>
                                </div>
                                <div class="col-lg-6"> <a routerLink="/register"
                                        class="btn btn-success btn-block">Register</a>
                                </div>
                            </div>

                           
                        </form>
                       
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6  " >
                                <a routerLink="" ><h6 style="text-decoration: underline;text-decoration-color: brown"class="text-right ">Forget Password</h6></a>
                            </div>
                        </div>
            </div>
        </div>

    </div>
</div>